﻿@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@model VMS.Models.CKEditor
<link href="~/Content/project-list.css" rel="stylesheet" />
<link href="~/Content/sowpreviewpopup.css" rel="stylesheet" />


<div class="row">

    <div class="col-lg-12">

        <a @*class="link1"*@ href="@Url.Action("Index", "Dashboard")">
            <img class="home-link-project" src="~/Images/123456789.png" style="padding-left: 38px;margin-top: 35px;" />

        </a>
        <div class="projection-container">

            <div class="panel">
                <div class="panel-heading project_panel_header1 vendor-heading">


                    <label style="font-weight: lighter;"> Add PO Information</label>


                    <div class="pull-right btn-links">

                        <button type="button" class="close" aria-label="Close"></button>

                    </div>
                    <div class="pull-right btn-links">

                        <span class="project_links">




                            <a href="@Url.Action("ProjectList", "ProjectList",new { @id = ViewBag.serviceCode })">
                                <i class="fa fa-arrow-circle-left"></i>
                                Back
                            </a>

                        </span>

                    </div>

                </div>
                <div class="panel-body vendor-panel">
                    @using (Html.BeginForm("Create", "Add_POReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">



                               



                                <div class="form-group" style="display:block;">

                                    <label class="control-label"> PO Name </label>

                                    @Html.EditorFor(model => model.poReportName, new { htmlAttributes = new { @class = "form-control input-col", style = "display:block;" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.poReportName, "", new { @class = "text-danger" })
                                    </div>
                                    <p class="ProjectionError" style="display:none; color:red">SOW name already exist.</p>
                                </div>


                                <div class="form-group" style="display:block;">
                                    <label class="control-label"> Department Name </label>
                                    @Html.EditorFor(model => model.userDepartmentName, new { htmlAttributes = new { @class = "form-control input-col", style = "display:block;", @Value = ViewBag.departmentName, @readonly = "readonly" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.userDepartmentName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" style="display:block;">
                                    <label class="control-label"> Category Name </label>
                                    @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control input-col", style = "display:block;", @Value = ViewBag.categoryName, @readonly = "readonly" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" style="display:block;">
                                    <label class="control-label"> Po Number </label>
                                    @Html.EditorFor(model => model.poNumber, new { htmlAttributes = new { @class = "form-control input-col", style = "display:block;", @Value = ViewBag.ponumber, @readonly = "readonly" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.poNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="hidden" value="@ViewBag.POReportCode" name="poReportId" id="poReportId" />
                                <input type="hidden" value="@ViewBag.serviceValue" name="serviceValue" id="serviceValue" />
                                <input type="hidden" value="@ViewBag.serviceCode" name="serviceCode" id="serviceCode" />
                                <input type="hidden" value="@ViewBag.vendorId" name="vendorId" id="vendorId" />
                                <div class="form-group">

                                    <label class="control-label">Service Value in Rs (without taxes)</label>
                                    <p>eg.6000.00</p>

                                    @Html.EditorFor(model => model.poReportValue, new { htmlAttributes = new { @class = "form-control input-col", @required = "required" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.poReportValue, "", new { @class = "text-danger" })
                                    </div>
                                    <p class="sowzeroerror" style="display:none; color:red">Please enter some value.</p>
                                    <p class="sowerror" style="display:none; color:red">Please enter valid numbers.</p>
                                </div>

                                <input type="hidden" id="poValue" class="poValue" value="" />

                                <div id="ProposalReason" class="ProposalReason" style="display:none">

                                    <div class="form-group" style="display:block;">
                                        <label class="control-lable-small-forms"> Reason for Rejection</label>
                                        @Html.TextAreaFor(model => model.poReportReason)
                                        @Html.ValidationMessageFor(model => model.poReportReason)

                                    </div>

                                </div>

                                <div class="form-group">

                                    <input type="radio" value="GeneratePO" name="searchBy" id="GeneratePO" required="required" /><b>Generate PO PDF</b>
                                    <input type="radio" value="UploadPO" name="searchBy" id="UploadPO" required="required" /><b>Upload PO</b>
                                    <p class="radioError" style="display:none; color:red">Please select one option.</p>

                                </div>


                                <div id="GeneratePDF" class="GeneratePDF" style="display:none">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PoDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.PoDate, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.PoDate, "", new { @class = "text-danger" })
                                        </div>


                                    </div>




                                    <div class="form-group" style="display:block;">
                                        <label class="control-lable-small-forms"> Subject  </label>
                                        @Html.TextAreaFor(model => model.Subject)
                                        @Html.ValidationMessageFor(model => model.Subject)
                                        <script type="text/javascript" language="javascript">
                                                    CKEDITOR.replace(@Html.IdFor(model => model.Subject));
                                        </script>
                                    </div>


                                    <div class="form-group" style="display:block;">

                                        <label class="control-label"> Quotation Number</label>

                                        @Html.EditorFor(model => model.QuotationNumber, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.QuotationNumber, "", new { @class = "text-danger" })
                                        </div>

                                    </div>


                                    <div class="form-group" style="display:block;">
                                        @Html.LabelFor(model => model.QuotationDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.QuotationDate, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.QuotationDate, "", new { @class = "text-danger" })
                                        </div>


                                    </div>


                                    <div class="form-group" style="display:block;">
                                        <label class="control-lable-small-forms"> Quotation Details </label>
                                        @Html.TextAreaFor(model => model.Details)
                                        @Html.ValidationMessageFor(model => model.Details)
                                        <script type="text/javascript" language="javascript">
                                                    CKEDITOR.replace(@Html.IdFor(model => model.Details));
                                        </script>
                                    </div>



                                    <div class="form-group">

                                        <input type="radio" value="Contract" name="PoPDF" id="Contract" /><b>Contract Period</b>
                                        <input type="radio" value="Delivery" name="PoPDF" id="Delivery" /><b>Delivery</b>
                                        <p class="radioErrorTerms" style="display:none; color:red">Please select one option.</p>

                                    </div>



                                    <div class="form-group Contract_FromDate" id="Contract_FromDate" style="display:none;">
                                        @Html.LabelFor(model => model.ContractFromDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ContractFromDate, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.ContractFromDate, "", new { @class = "text-danger" })
                                        </div>


                                    </div>



                                    <div class="form-group Contract_ToDate" id="Contract_ToDate" style="display:none;">
                                        @Html.LabelFor(model => model.ContractToDate, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.ContractToDate, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.ContractToDate, "", new { @class = "text-danger" })
                                        </div>


                                    </div>




                                    <div class="form-group deliverytextbox" id="deliverytextbox" style="display:none;">

                                        <label class="control-label"> Deliver</label>

                                        @Html.EditorFor(model => model.deliverytextbox, new { htmlAttributes = new { @class = "form-control input-col" } })
                                        <div>
                                            @Html.ValidationMessageFor(model => model.deliverytextbox, "", new { @class = "text-danger" })
                                        </div>

                                    </div>





                                    <div class="form-group" id="paymentDetail" name="paymentDetail" multiple="multiple">
                                        <label class="control-label">Payment Terms </label><br/><br/>
                                      
                                            @if (ViewBag.modelClass1 != null)
                                            {
                                                foreach (var item in ViewBag.modelClass1)
                                                {
                                                    if (item.Text != null)
                                                    {
                                                        <input type="checkbox" value="@item.Value" id="paymentDetail" name="paymentDetail" /> @item.Text
                                                        <br />
                                                    }
                                                }
                                            }
                                        
                                    </div>
                                    <div class="form-group" id="taxDetail" name="taxDetail" multiple="multiple">
                                        <label class="control-label">Taxes Terms</label><br /><br />
                                        @if (ViewBag.modelClass2 != null)
                                        {
                                            foreach (var item in ViewBag.modelClass2)
                                            {
                                                if (item.Text != null)
                                                {
                                                    <input type="checkbox" value="@item.Value" id="taxDetail" name="taxDetail" /> @item.Text
                                                    <br />
                                                }
                                            }
                                        }

                                    </div>


                                    <div class="form-group">
                                        <label class="control-label">Billing Address </label>
                                        <input type="checkbox" id="BillingUnit" class="BillingUnit" value="HSPL" name="BillingUnit" /><b>HSPL</b>

                                        <input type="checkbox" id="BillingUnit" class="BillingUnit" value="HILPL" name="BillingUnit" /><b>HILPL</b>
                                        <input type="checkbox" id="BillingUnit" class="BillingUnit" value="HTV" name="BillingUnit" /><b>HTV</b>
                                        <input type="checkbox" id="BillingUnit" class="BillingUnit" value="HKV" name="BillingUnit" /><b>HKV</b>

                                    </div>
                                    <div class="form-group HSPLbillingunit" id="HSPLbillingunit" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Price(HSPL) </label>
                                            <span class="valuePadding">
                                                <input type="text" id="HSPLprice" class="form-control input-col HSPLprice" value="" />Rs.
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div>
                                            <b style="padding-left: 25%;">OR</b>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Percent(HSPL)</label>
                                            <span class="valuePadding">
                                                <input type="text" id="HSPLpercent" class="form-control input-col HSPLpercent" name="HSPLpercent" value="" />%
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hsplBillingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hsplBillingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hsplBillingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hsplShippingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hsplShippingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hsplShippingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group HILbillingunit" id="HILbillingunit" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Price(HILPL) </label>
                                            <span class="valuePadding">
                                                <input type="text" id="HILprice" class="form-control input-col HILprice" value="" />Rs.
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div>
                                            <b style="padding-left: 25%;">OR</b>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Percent(HILPL)</label>
                                            <span class="valuePadding">
                                                <input type="text" id="HILpercent" class="form-control input-col HILpercent" name="HILpercent" value="" />%
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hilplBillingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hilplBillingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hilplBillingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hilplShippingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hilplShippingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hilplShippingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group HTVbillingunit" id="HTVbillingunit" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Price(HTV) </label>
                                            <span class="valuePadding">
                                                <input type="text" id="HTVprice" class="form-control input-col HTVprice" value="" />Rs.
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div>
                                            <b style="padding-left: 25%;">OR</b>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Percent(HTV)</label>
                                            <span class="valuePadding">
                                                <input type="text" id="HTVpercent" class="form-control input-col HTVpercent" name="HTVpercent" value="" />%
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.htvBillingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("htvBillingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.htvBillingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.htvShippingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("htvShippingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.htvShippingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group HKVbillingunit" id="HKVbillingunit" style="display:none">
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Price(HKP) </label>
                                            <span class="valuePadding">
                                                <input type="text" id="HKPprice" class="form-control input-col HKPprice" value="" />Rs.
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div>
                                            <b style="padding-left: 25%;">OR</b>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Billing Unit Percent(HKP)</label>
                                            <span class="valuePadding">
                                                <input type="text" id="HKPpercent" class="form-control input-col HKPpercent" name="HKPpercent" value="" />%
                                            </span>


                                        </div>
                                        <p class="povalueerror" style="display:none; color:red">Value exceeded</p>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hkpplBillingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hkpplBillingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hkpplBillingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.hkpplShippingAddressId, htmlAttributes: new { @class = "control-label"})

                                            @Html.DropDownList("hkpplShippingAddressId", new SelectList(ViewBag.officeAddress, "addressId", "locationName"), "Select", new { @class = "form-control input-col" })


                                            <div>
                                                @Html.ValidationMessageFor(model => model.hkpplShippingAddressId, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>
                                        <input type="button" value="Preview Document Details" id="preview" name="preview" class="btn btn-default btn-preview" />
                                    </div>


                                    <div class="form-group uploadSOW" id="uploadSOW" style="display:none">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.poReportStatus, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.poReportStatus, new List<SelectListItem>
                                    {


                                    new SelectListItem{ Text = "Approved", Value="Approved"},
                                    new SelectListItem{Text= "Reject" , Value="Rejected"},


                                    }, "Select", new { @class = "form-control input-col control-lable-small-forms" })
                                            <div>
                                                @Html.ValidationMessageFor(model => model.poReportStatus, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <label class="control-label">Upload PO (.PDF) </label>

                                        <input type="file" id="fileupload" name="file" class="btn  btn-file form-control input-col" multiple style='display: none;' required="required" />

                                        <button class="addfiles">Upload PO</button>
                                        <br/>
                                        <br/>
                                        


                                        <div class="form-group" style="display:block;">
                                            <label class="control-label">FileName </label>
                                            <textarea class="form-control input-col" style="font-size:12px;" id="filename" name="filename" readonly="readonly"></textarea>
                                        </div>
                                        <p class="uploadsowerror" style="display:none; color:red">Please upload the file.</p>
                                        <p class="filetypeerror" style="display:none; color:red">Please upload the correct file</p>
                                    </div>





                                    <input type="hidden" id="count" name="count" value="" />

                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-default btn-submit1" id="submit" name="submit" />
                                    </div>

                                </div>
                        </div>


                        <div class="col-md-2">
                            </div>

                       


                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal">

    <div class="modal-content">

        <button type="button" id="close" class="close" data-dismiss="modal">
            ×
        </button>

        <h4><b>Subject:</b></h4><br />
        <div id="dos"></div>
        <hr />
        @*<h4><b>Total Cost:</b></h4><br />
        <div id="tc"></div>
        <hr />*@
        <h4><b>Details:</b></h4><br />
        <div id="pm"></div>
    </div>

</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

@section Scripts
    {


    <script type="text/javascript">

      
        var modal = document.getElementById("myModal");

        var btn = document.getElementById("preview");

        btn.onclick = function () {
            modal.style.display = "block";
            var dos = document.getElementById("dos");
            var tc = document.getElementById("tc");
            var pm = document.getElementById("pm");

            var DescriptionOfService = CKEDITOR.instances['Subject'].getData()
           // var Totalcost = CKEDITOR.instances['Totalcost'].getData()
            var PaymentMilestones = CKEDITOR.instances['Details'].getData()

            var myWindow2;
            dos.innerHTML = DescriptionOfService;
           // tc.innerHTML = Totalcost;
            pm.innerHTML = PaymentMilestones;

        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $('#close').click(function () {

            modal.style.display = "none";
        });



        function validateForm() {
            debugger;

            var x = document.forms["myForm"]["searchBy"].value;

            var text = $('#filename').val();
            if (x == "") {
                $('.radioError').show();
            } else {
                $('.radioError').hide();

            }
            if (x == "UploadPO" && text == "") {
                $('.uploadsowerror').show();
            }


        }
        $('.addfiles').on('click', function () { $('#fileupload').click(); return false; });
        $('input[type=radio][name=searchBy]').change(function () {
            debugger;
            var Value = $(this).val();
            var count;
            $('.radioError').hide();
            if (Value == "GeneratePO") {
                debugger;
                count = 1;
                var upload = document.getElementById('count');
                $("#fileupload").attr('required', false);
                upload.value = count;
                document.getElementById('GeneratePDF').style.display = 'block';
                document.getElementById('uploadSOW').style.display = 'none';


                $('input[type=checkbox][name=BillingUnit]').change(function () {
                    debugger;
                    var Value = $(this).val();

                    $('.radioErrorTerms').hide();
                    if (Value == "HSPL" && $(this).prop("checked") == true) {
                        document.getElementById('HSPLbillingunit').style.display = 'block';
                       

                    }
                    else if (Value == "HSPL" && $(this).prop("checked") == false) {
                        document.getElementById('HSPLbillingunit').style.display = 'none';
                        document.getElementById('HSPLpercent').value = "";
                        document.getElementById('HSPLprice').value = "";

                        
                    }
                    if (Value == "HILPL" && $(this).prop("checked") == true) {
                        debugger;
                        document.getElementById('HILbillingunit').style.display = 'block';
                       
                       
                    }
                    else if (Value == "HILPL" && $(this).prop("checked") == false) {
                        document.getElementById('HILbillingunit').style.display = 'none';
                        document.getElementById('HILpercent').value = "";
                        document.getElementById('HILprice').value = "";
                      
                    }
                    if (Value == "HTV" && $(this).prop("checked") == true) {
                        document.getElementById('HTVbillingunit').style.display = 'block';
                       
                       
                    }
                    else if (Value == "HTV" && $(this).prop("checked") == false) {
                        document.getElementById('HTVbillingunit').style.display = 'none';
                        document.getElementById('HTVpercent').value = "";
                        document.getElementById('HTVprice').value = "";
                       
                    }
                    if (Value == "HKV" && $(this).prop("checked") == true) {
                        document.getElementById('HKVbillingunit').style.display = 'block';
                       
                       
                    }
                    else if (Value == "HKV" && $(this).prop("checked") == false) {
                        document.getElementById('HKVbillingunit').style.display = 'none';
                        document.getElementById('HKPpercent').value = "";
                        document.getElementById('HKPprice').value = "";
                       
                    }
                    
                }); 

                $('#HSPLprice').change(function () {
                    debugger;
                    var hsplprice = $(this).val();

                    var povalue = document.getElementById('poReportValue').value;
                    var HIL = document.getElementById('HILprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = parseFloat(hsplprice) + parseFloat(HIL) + parseFloat(HTV) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {
                        var poper = document.getElementById('HSPLpercent');


                        
                        var hsplper = (parseFloat(hsplprice) / (parseFloat(povalue)) * 100)
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                    }
                   
                    else {
                        
                       
                        $('.povalueerror').show();
                    }
                })
                    ;
                $('#HSPLpercent').change(function () {
                        debugger;
                    var hsplpercent = $(this).val();
                    var poper = document.getElementById('HSPLprice');
                    var povalue = document.getElementById('poReportValue').value;
                    var hsplper = (parseFloat(hsplpercent) / 100) * (parseFloat(povalue))
                   
                    var HIL = document.getElementById('HILprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = hsplper + parseFloat(HIL) + parseFloat(HTV) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {

                       
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                        }

                        else {
                          

                        $('.povalueerror').show();
                        }
                });


                //for HILPL

                $('#HILprice').change(function () {
                    debugger;
                    var price = $(this).val();

                    var povalue = document.getElementById('poReportValue').value;
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = parseFloat(price) + parseFloat(HSPL) + parseFloat(HTV) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {
                        var poper = document.getElementById('HILpercent');


                      
                        var hsplper = (parseFloat(price) / (parseFloat(povalue)) * 100)
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                    }

                    else {


                        $('.povalueerror').show();
                    }
                })
                    ;
                $('#HILpercent').change(function () {
                    debugger;
                    var percent = $(this).val();
                    var poper = document.getElementById('HILprice');
                    var povalue = document.getElementById('poReportValue').value;
                    var hsplper = (parseFloat(percent) / 100) * (parseFloat(povalue))
                    
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = hsplper + parseFloat(HSPL) + parseFloat(HTV) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {

                        
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                    }

                    else {


                        $('.povalueerror').show();
                    }
                });

                //end of HILPL


                //for HTV

                $('#HTVprice').change(function () {
                    debugger;
                    var price = $(this).val();

                    var povalue = document.getElementById('poReportValue').value;
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HIL = document.getElementById('HILprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = parseFloat(price) + parseFloat(HSPL) + parseFloat(HIL) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {
                        var poper = document.getElementById('HTVpercent');



                        var hsplper = (parseFloat(price) / (parseFloat(povalue)) * 100)
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                    }

                    else {


                        $('.povalueerror').show();
                    }
                })
                    ;
                $('#HTVpercent').change(function () {
                    debugger;
                    var percent = $(this).val();
                    var poper = document.getElementById('HTVprice');
                    var povalue = document.getElementById('poReportValue').value;
                    var hsplper = (parseFloat(percent) / 100) * (parseFloat(povalue))
                   
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HIL = document.getElementById('HILprice').value;
                    var HKV = document.getElementById('HKPprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HKV == "") {
                        HKV = 0;
                    }
                    var finalpovalue = hsplper + parseFloat(HSPL) + parseFloat(HIL) + parseFloat(HKV)
                    if (finalpovalue <= parseFloat(povalue)) {

                        
                        poper.value = hsplper;
                        $('.povalueerror').hide();

                    }

                    else {


                        $('.povalueerror').show();
                    }
                });
                //end of HTV

                //for HKV

                $('#HKPprice').change(function () {
                    debugger;
                    var price = $(this).val();

                    var povalue = document.getElementById('poReportValue').value;
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HIL = document.getElementById('HILprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    var finalpovalue = parseFloat(price) + parseFloat(HSPL) + parseFloat(HIL) + parseFloat(HTV)
                    if (finalpovalue <= parseFloat(povalue)) {
                        var poper = document.getElementById('HKPpercent');



                        var hsplper = (parseFloat(price) / (parseFloat(povalue)) * 100)
                        poper.value = hsplper;
                        $('.povalueerror').hide();
                    }

                    else {


                        $('.povalueerror').show();
                    }
                })
                    ;
                $('#HKPpercent').change(function () {
                    debugger;
                    var percent = $(this).val();
                    var poper = document.getElementById('HKPprice');
                    var povalue = document.getElementById('poReportValue').value;
                    var hsplper = (parseFloat(percent) / 100) * (parseFloat(povalue))
                  
                    var HSPL = document.getElementById('HSPLprice').value;
                    var HIL = document.getElementById('HILprice').value;
                    var HTV = document.getElementById('HTVprice').value;
                    if (HSPL == "") {
                        HSPL = 0;
                    }
                    if (HIL == "") {
                        HIL = 0;
                    }
                    if (HTV == "") {
                        HTV = 0;
                    }
                    var finalpovalue = hsplper + parseFloat(HSPL) + parseFloat(HIL) + parseFloat(HTV)
                    if (finalpovalue <= parseFloat(povalue)) {


                        poper.value = hsplper;
                        $('.povalueerror').hide();

                    }

                    else {


                        $('.povalueerror').show();
                    }
                });

                //end of HKV
                $('input[type=radio][name=PoPDF]').change(function () {
                    debugger;
                    var Value = $(this).val();

                    $('.radioErrorTerms').hide();
                    if (Value == "Contract") {



                        document.getElementById('Contract_FromDate').style.display = 'block';
                        document.getElementById('Contract_ToDate').style.display = 'block';
                        document.getElementById('deliverytextbox').style.display = 'none';
                        $("#ContractFromDate").change(function () {
                            debugger;
                          
                            var startdate = $("#ContractFromDate").val()
                            
                            $("#ContractToDate").attr('min', startdate);


                        });
                        

                    }

                    else if (Value == "Delivery") {

                        document.getElementById('Contract_FromDate').style.display = 'none';
                        document.getElementById('Contract_ToDate').style.display = 'none';
                        document.getElementById('deliverytextbox').style.display = 'block';
                    }


                });


                


            }

            else if (Value == "UploadPO") {
                debugger;
                count = 0;
                var upload = document.getElementById('count');
                upload.value = count;
                $("#fileupload").attr('required', true);
                //$("#QuotationDate").attr('required', false );
                document.getElementById('uploadSOW').style.display = 'block';


                // document.getElementById("fileupload").required = true;
                document.getElementById('GeneratePDF').style.display = 'none';
            }
        });
        $('#fileupload').change(function () {
            debugger;
            $('.uploadsowerror').hide();

            var Value = $(this).val();
            var abc = Value.split("\\");
            var name = abc[abc.length - 1];

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFileType")',
                data: { "filename": name },
                dataType: 'text',

                async: 'false',
                success: function (data) {

                    console.log(data);
                    data = JSON.parse(data);

                    count = data.count;

                    if (count == 1)
                    {

                        $('.filetypeerror').hide();
                        var upload = document.getElementById('filename');

                        upload.value = name;
                    }
                    else if(count == 0) {
                        $('.filetypeerror').show();
                    }
                    }
                }

      );





        });

       

        $('#poReportStatus').change(function () {
            var Value = $(this).val();
            if(Value == "Rejected")
            {
                document.getElementById('ProposalReason').style.display = 'block';
            }
            else {
                document.getElementById('ProposalReason').style.display = 'none';
            }
        });




        



        var count;

        $('#poReportName').change(function () {

            var proposalName = $(this).val();
            var projectCode = "@ViewBag.projectCode";
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSOWName")',
                data: { "proposalName": proposalName, "projectCode": projectCode },
                dataType: 'text',
                async: 'false',
                success: function (data) {

                    console.log(data);
                    data = JSON.parse(data);

                    count = data.count;

                    if (count > 0) {

                        $('.ProjectionError').show();
                        $("#submit").attr('disabled', true);
                    }
                    else {
                        $('.ProjectionError').hide();
                        $("#submit").attr('disabled', false);
                    }
                }
            })
        }
      );




        $('#poReportValue').change(function () {

            var val = $(this).val();
            if (val == 0) {
                $('.sowzeroerror').show();
                $("#submit").attr('disabled', true);
            }
            else {
                $("#submit").attr('disabled', false);
                $('.sowzeroerror').hide();
                val = val.replace(/[^0-9\.]/g, '');
                var poReportValue = document.getElementById("poReportValue");
                poReportValue.value = val;
                if (isNaN(val)) {

                    var dfgh = val.split('.').length;

                    if (val.split('.').length > 2) {
                        $('.sowerror').show();
                    }
                    else if (val.split('.').length > 1) {
                        $('.sowerror').hide();

                    }
                }
                else if (val.split('.').length == 1) {
                    debugger;
                    val = val + '.00';
                    var poReportValue = document.getElementById("poReportValue");
                    poReportValue.value = val;
                    $('.sowerror').hide();
                }
                else {

                    $('.sowerror').hide();

                }
            }
        });


       
        


    </script>
}