﻿<link href="~/Content/External2.css" rel="stylesheet" />


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mainlogin logout">


    <div class="row">
        <div class="col-lg-12">

        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 main xyz">


            <div class="col-lg-3 col-md-3 col-sm-3 box1">
                <a href="@Url.Action("Index", "Add_Service"@*,new {employeeId = ViewBag.employeeId },null*@)">
                    <img class="icon" src="~/Images/Icon04.png" />


                    <h4>Add Service</h4>
                </a>


            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 box2">
                <a href="@Url.Action("ServiceView", "Add_Service")">
                    <img class="icon" src="~/Images/Icon03.png" />


                    <h4>View Services</h4>
                </a>
            </div>
            @*<div class="col-lg-3 col-md-3 col-sm-3 box3">
                <a href="@Url.Action("Index", "Vendors",new {employeeId = ViewBag.employeeId },null)">
                    <img class="icon" src="~/Images/Icon05_ViewVendor.png" />


                    <h4>View Vendors</h4>
                </a>
            </div>



            <div class="col-lg-3 col-md-3 col-sm-3 box4">
                <a href="@Url.Action("Index", "PMArchivedVendor",new {employeeId = ViewBag.employeeId },null)">
                    <img class="icon" src="~/Images/Icon07_ArchivedVendor.png" />


                    <center> <h4 class="generateReport">View Archived Vendors</h4></center>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 box5">
                <a href="@Url.Action("Index", "PMTimelyReport",new {employeeId = ViewBag.employeeId },null)">

                    <img class="icon" src="~/Images/Icon05.png" />


                    <center> <h4 class="generateReport">Generate Report</h4></center>
                </a>
            </div>*@

        </div>


    </div>

</div>




