﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title Harbinger Techventure Vendor Management System</title>
    <link href="~/Views/GridView.css" rel="stylesheet" />
    <link href="~/Content/External2.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PM-Responsive.css" rel="stylesheet" />

    @*<script src="~/Scripts/modernizr-2.8.3.js"></script>*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="container-fluid col-lg-12">
            <div class="navbar-header col-lg-3">

                <img class="img1" src="~/Images/harbinger_group_header_logo.png" />
            </div>

            @if (Session["Email"] != null)
            {
                <div class="col-lg-5">
                    <h1 class="main-heading">VENDOR MANAGEMENT SYSTEM</h1>


                </div>
            }
            <div class="logout-btn col-lg-4 logout-position" @*style="padding-left: 206px; padding-top: 32px;"*@>
                <fieldset>

                    @if (Session["Email"] != null)
                    {


                        <div class="dropdown show">



                            <a class="btn btn-secondary dropdown-toggle logout_div" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome
                                @Session["Email"].ToString()

                                <i class="glyphicon glyphicon-user"></i>
                            </a>

                            <div class="dropdown-menu pull-right elementToFadeInAndOut" aria-labelledby="dropdownMenuLink">
                                <div>
                                    <i class="fa fa-key"></i>
                                    <a class="dropdown-item" href="@Url.Action("Index", "ChangePassword")"> Change Password</a>
                                </div>
                                <div>
                                    <i class="fa fa-question-circle"></i>
                                    <a class="dropdown-item" target="_blank" href="@Url.Action("Index", "HelpDocumentView")">Help</a>
                                </div>
                                <div>
                                    <i class="fa fa-power-off"></i>
                                    <a class="dropdown-item" href="@Url.Action("SignOut", "Login")">Log Out</a>
                                </div>

                            </div>
                        </div>

                    }


                    else if (Session["Email"] == null)
                    {
                        Session.Clear();
                        Session.Abandon();

                        <script>
                        alert("Your Session Expired");
                            //window.location = "login";
                        window.location.href = "@Url.Action("Login", "Login")";
                        </script>

                    }
                </fieldset>

            </div>
        </div>
    </div>


    <div class="container-fluid body-content ">
        @RenderBody()
        @RenderSection("scripts", required: false)

        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Harbinger Techventure Pvt. Ltd.</p>
        </footer>
    </div>


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>