﻿
.logo {
    margin-left: 25px;
    margin-top: 16px;
}

body {
    background-image: url('../Images/BG01.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #5e748b;
}

.mainlogin {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 75px;

}

.padd0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userrounded {
    border-radius: 4rem;
    background-color: #ededed;
    width: 100% !important;
    height: 41px;
    max-width: 500px;
}

.btnlogin {
    min-height: 40px;
    min-width: 90px;
    border-radius: 30px;
    font-size: 15px;
    transition: all 0.5s;
    background-color: #ffc600;
    color: white;
}

.loginimg {
    height: 90%;
    width: 98%;
}
/*.image1{
    padding-right:0!important;
}*/
.box1 {
    height: 510px;
    width: 51%;
}

.box2 {
    height: 409px;
    width: 51%;
}

.minheight-div {
    min-height: 542px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .minheight-div {
        min-height: 492px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
    .minheight-div {
        min-height: 492px;
    }
}

h4 {
    color: #00a4fc;
    font-family: 'Segoe UI';
}

/*.logout-btn{
    margin-top: 5px;
    float: right;
}*/
.login-border {
    border: 0px !important;
}
