﻿body {
    background-image: url('../Images/BG02 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px 0 !important;
}

h2{
    float:right;
    color:white;
       padding-left: 121px;
    padding-top: 15px;
}

.box1{
   width: 205px;
   height: 215px;
   box-sizing: border-box;
   background-color: #33b7ff;

}

.box2{
   width: 205px;
   height: 215px;
   box-sizing: border-box;
   background-color:#82b7dc  ;
   float:left

}
.box3{
   width: 205px;
   height: 215px;
   box-sizing: border-box;
   background-color:#7c98b3 ;
   float:left

}
.box4{
     width: 205px;
   height: 215px;
   box-sizing: border-box;
   background-color: #a7d6ef;
   float:left
   
}
.box5{
     width: 205px;
   height: 215px;
   box-sizing: border-box;
   background-color: #91b1c2;
   float:left
    

}

.icon
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 19px;
}

.main {
    padding-left: 218px;
    padding-top: 95px;
}
h4{
    font-size: 18px;
    padding-left: 40px;
    color: black;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
 .box1{
   width: 158px;
   height: 215px;
   box-sizing: border-box;
   background-color: #33b7ff;

}
 .box2{
   width: 158px;
   height: 215px;
   box-sizing: border-box;
   background-color:#82b7dc  ;
   float:left

}
.box3{
   width: 158px;
   height: 215px;
   box-sizing: border-box;
   background-color:#7c98b3 ;
   float:left

}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
 .box1{
   width: 304px;
   height: 215px;
   box-sizing: border-box;
   background-color: #33b7ff;

}
 .box2{
   width: 304px;
   height: 215px;
   box-sizing: border-box;
   background-color:#82b7dc  ;
   float:left

}
.box3{
   width: 304px;
   height: 215px;
   box-sizing: border-box;
   background-color:#7c98b3 ;
   float:left

}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:portrait) {
    .xyz{
        padding-left:0px;
    }
 .box1{
   width: 189px;
   height: 215px;
   box-sizing: border-box;
   background-color: #33b7ff;

}
 .box2{
   width: 189px;
   height: 215px;
   box-sizing: border-box;
   background-color:#82b7dc  ;
   float:left

}
.box3{
   width: 189px;
   height: 215px;
   box-sizing: border-box;
   background-color:#7c98b3 ;
   float:left

}
h2{
    float:right;
    color:white;
       padding-left: 121px;
    padding-top: 15px;
    font-size:19px;
}
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:landscape) {
    .xyz{
        padding-left:45px;
    }
 .box1{
   width: 160px;
   height: 215px;
   box-sizing: border-box;
   background-color: #33b7ff;

}
 .box2{
   width: 160px;
   height: 215px;
   box-sizing: border-box;
   background-color:#82b7dc  ;
   float:left

}
.box3{
   width: 160px;
   height: 215px;
   box-sizing: border-box;
   background-color:#7c98b3 ;
   float:left

}
h2{
    float:right;
    color:white;
       padding-left: 121px;
    padding-top: 15px;
    font-size:19px;
}
}
.logout-btn{
    /*float: right;
    
        padding-left: 230px !important;*/
     padding-left: 178px;
     padding-top:26px;
}



.logout-btn-link{
    color: black;
}

.logout_div{
    float: right;
}

.menus{
    margin-top: 10%;
}
.main-heading{
    padding-top:2%;
    color:black;
        font-size: 28px;
}

.generateReport{
        font-size: 18px;
    padding-left:0px;
    color: black;
}
.text-center-dashboard{
    padding-left: 19px;
}
.text-center-dashboard2{
        padding-left: 28px;
}
