﻿@media only screen and (min-device-width: 1366px) and (max-device-width: 768px) and (orientation:portrait)
{
    
    .welcome_user_name{
        margin-right: 23%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation:landscape)
{
    
    .welcome_user_name{
        margin-right: 23%;
    }
}
.border-vendor{
    border-bottom:none;
}

 
    .table_content{
        margin-left: 0.2% !important;
    }

    .panel1{
         margin-left: 0.2% !important;
         margin-right: 0px !important;
    }


/*Project Index*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1266px) and (orientation:landscape)
{
    
    .table_content{
        margin-left: 0.2% !important;
    }

    .panel1{
         margin-left: 0.2% !important;
         margin-right: 0px !important;
    }
}

