﻿ form {
    overflow: hidden;
}


body {
    background-image: url('../Images/BG02 (1).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px 0 !important;
}

.vendor_edit_links{
    float:right;
}

.icon_invoice{
    color:red;
}
.vendor_content{
    margin-left: 2%;
}

.vendor-listfor{
    width:100%;
    border-radius:10px;
}

.vendor-details-data{
        margin-left: 2% !important;
        padding: 0px !important;
}


.vendor-details-VMdata{
        margin-left: 4% !important;
        padding: 0px !important;
}

.vendor-Details{
    padding: 8px 29px 8px 25px !important;
}

.vendor-review-name{
    float: right !important;
    padding-right: 45px !important;
}

.remove-vendor-skill
{
    float: right;
    padding-right: 45px;
}

.project_links{
    color: darkblue;
    padding-right: 10px;
    /*text-decoration: underline;*/
}
/*.panel-heading{
    margin:10px;
    padding: 10px;
}*/
.panel-heading.project_panel_header1{
    background: #35cab7;
    /*background:  #c1e9ff ;*/
    color: #696969; 
}
.panel-heading.project_panel_header11{
    background: #35cab7;
    color: #696969; 
   
}


.font-heading{
    font-size: 27px;
    font-family:'Segoe UI';
}

.search-font{
    font-size: 13px;
    font-family:'Segoe UI';
}
.clear-font{
    font-size: 16px;
}


.panel-heading.project_panel_header2{
    background: #87CEFA;
    color: darkslategrey;
    font-weight: bold;
}

.panel-heading.vendor-header{
      background: #87CEFA;
    color: darkslategrey;
    font-weight: bold;
}
.project-heading {
    font-size: 20px;
}

.vendor-heading{
    font-size: 19px;
}
.heading-type {
    font-size: 20px;
}
.project-heading::after{
    content: "|";
}

.thead-dark.project_panel_header2{
    background: #87CEFA;
    color: darkslategrey;
    font-weight: bold;
}

.active-cicle{
    color:lightgreen;
}
.Inactive-cicle
{
    color:red;

}
.row.full-width-div {
    position: absolute;
    width: 100%;
    left:0;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 10px;

}
.project-container{
    margin-top: 5%;
    overflow: hidden;
}

.project-container1{
    margin-top: 30px;
    overflow: hidden;
}
.vendor-container{
    margin-top: 5%;
    margin-left:4%; 
    overflow: hidden;
}
.panel.col-lg-6{
    padding-left: 0px;
    padding-right:0px;
}

.col-lg-12.vendor-container-color
{
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    /*margin-left: 0.25%!important;*/
}
.projection-container{
    max-width: 98%;
    margin-top:5%;
    margin-left:1%; 

}

.input-col{
    display: inline;
    border-radius: 25px;
    border: 1px solid #D3D3D3;
    height: 35px;   
}

.control-label {
    float: left;
    width: 140px;
    padding-right: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
}

.btn-submit{
    /*float: right;
    margin: auto;*/
    min-width: 100px;
    width: 100px;
    display: inline;
    border-radius: 25px;
    border: 1px solid #D3D3D3;
    background: #ffcd48;

}
.btn-submit1{
    margin: auto;
    min-width: 100px;
    width: 100px;
    display: inline;
    border-radius: 25px;
    border: 1px solid #D3D3D3;
    background: #ffcd48;
    display: block;
}



/*.generate-report-back-size{
    font-size: 16px;
}*/

.btn-submit-vendor{
    /*float: right;
    margin: auto;*/
    min-width: 100px;
    width: 100px;
    display: inline;
    border-radius: 25px;
    border: 1px solid #D3D3D3;
    background: #DCDCDC;

}

.panel-body{
    padding:0px;
}
.panel-body.vendor-panel{
    padding:30px;
}

.size-header-project-create
{
    height: 50px;
}
.search-size-font{
       padding-left: 60%;
       margin-top: -44px;
}
.table-heading{
       font-size:24px;
       font-family:'Segoe UI';
}
.search-font{
    font-family:'Segoe UI';
}

/*a:link{
    text-decoration: none;
}*/
.panel{
    margin-left:0px !important;
    margin-right:0px !important;
}

.project-header
{
    height:59px;
}

.vendor-details-alignment{
    margin-left: -63px;
}
.text-area-alignment{
   
    height: 80px !important;
    width: 280px !important;

}
.home-link-project{
        height: 30px;
    /*margin-top: 20px;*/
    margin-bottom: 15px;
}

.home-link-vendor{
        height: 30px;
    margin-top: -32px;
    margin-bottom: 15px;
}

.scrollable-panel{
      height:450px;
      overflow-y:scroll;
      width:100%;
      }


.scrollable-panel-edit{
      height:500px;
      overflow-y:scroll;
      width:100%;
      }



.table-fixed {
  width: 100%;
  /*background-color: #f3f3f3;*/
}
.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
}
.table-fixed thead tr th {
  float: left;
  /*background-color: #f39c12;*/
  /*border-color: #e67e22;*/
}

.error-message{
    display:inline-block;
    margin:5px;
}

.control-lable-small-formsl{
	width:100%;
}

.control-lable-small-forms{
width:100%;
}

.review-para{
padding-left:15px; 
padding-right:30px;
}
.mandatory-fields{
    color:red;
    padding-left:18.5%;
}



 .table_content{
        margin-left:1% !important;
    }

 .vendor-details-td{
     padding-left:1% !important;
 }
 .back-size-projectlist{
     font-size: 17px;
 }

 .heading-alignment{
     padding-right: 1.5%;
 }