﻿body {
    background-image: url('../Images/BG02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x :hidden !important;
}

h3 {
    font-size: 24px;
    padding-left: 12px;
    color: black;
}

.main
{
        padding-top: 0px;
}
.container-fluid.main{
    margin-left: 1%;
    margin-right: 1%;
}

.demo{
    height:65px;
    width:100%;
    padding-left:60px;
    background-color: #87d5c7;
}
.heading{
    background-color:#c3e9fe;
    width:100%;
    height:30px;

}
.content{
    background-color:white;
}

.searchby{
   padding-left: 729px;
    padding-top: 25px;
}
.search {
    padding-left: 255px;
    padding-top: 15px;
}
.head{
    padding-top:16px;
      font-size: 25px;
      position: relative;
}

.head1{
    padding-top:16px;
      font-size: 25px;
      position: relative;
    left: -48px;
}
.row1{
    padding-top: 80px;
}

.heading1{
        padding-left: 323px;
    padding-top: 15px;
}
.link1{
    color:white !important;
}
.img1{
              height: 58px;
    width: 261px;
    margin-top: 19px;
}

.details{
        padding-top: 73px;
    padding-left: 190px;
}
 .search1{
    padding-left: 6px;
    padding-top: 1px;
}
.link11{
    margin-left:10%;
}
/*.logout-position{
    width: 20%;
    padding-top: 2%;
   display: inline-block;
}*/