﻿@model VMS.Entities.ServiceType
@{
    
        Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<link href="~/Content/project-list.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="projection-container">
            <div class="panel">
                <div class="panel-heading project_panel_header1 vendor-heading">
                    Add Vendor Review



                </div>
                <div class="panel-body vendor-panel">
                    @using (Html.BeginForm("Index", "Add_Service", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">


                                <div class="form-group">
                                    @Html.LabelFor(model => model.typeName, htmlAttributes: new { @class = "control-label" })

                                    @Html.TextAreaFor(model => model.typeName, new { @class = "form-control input-col", @style = "height:170px;", @required = "required" })

                                    <div>
                                        @Html.ValidationMessageFor(model => model.typeName, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Post Review" class="btn btn-default btn-submit1" />
                                </div>

                            </div>
                        </div>


                        <div class="col-md-2">

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>







