﻿
@model VMS.Models.VMSEntity
<link href="~/Content/External2.css" rel="stylesheet" />
<link href="~/Content/project-list.css" rel="stylesheet" />


<div class="row">
    <div class="col-lg-12">
        <div class="project-container">
            <a class="link1" href="@Url.Action("Index", "Dashboard")">
                <img class="home-link-project" src="~/Images/123456789.png" />

            </a>
            <div class="panel">
                <div class="panel-heading project_panel_header1 vendor-heading size-header-project-create ">
                    <div style="padding-left: 253px;" class="col-lg-6">
                        Add New Vendor Service
                    </div>
                    <div class="pull-right btn-links" style="padding-right: 257px;">

                        <span class="project_links">
                            @*<i class="fa fa-arrow-circle-left"></i>*@
                            <a href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-arrow-circle-left"></i>
                                Back
                            </a>


                        </span>

                    </div>
                </div>
                <h5 class="mandatory-fields">* All Fields are Mandatory</h5>
                <div class="panel-body vendor-panel">
                    @using (Html.BeginForm("Index", "Add_Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form">

                            <div class="col-md-2">   </div>

                            <div class="col-md-4">

                                <div class="form-group">

                                    @Html.LabelFor(model => model.vendorId, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownList("vendorId", new SelectList(ViewBag.vendorList, "vendorId", "vendorName"), "Select Vendor", new {@class = "form-control input-col",
                                    @required = "required"
                                })
                                    <div class="error-message">
                                        @Html.ValidationMessageFor(model => model.vendorId, "", new { @class = "text-danger" })
                                    </div>
                                </div>




                                <div class="form-group">

                                    @Html.LabelFor(model => model.serviceCategoryId, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownList("serviceCategoryId", new SelectList(ViewBag.serviceCategoryList, "serviceCategoryId", "categoryName"), "Select", new {@class = "form-control input-col",
                                   @required = "required",

                               })
                                    <div class="error-message">
                                        @Html.ValidationMessageFor(model => model.serviceCategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.startDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control input-col"}
                            })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
                                    </div>
                                    <p class="ProjectionError" style="display:none; color:red">Please enter date falling in last three months.</p>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.endDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control input-col"}
                            })

                                    <div>
                                        @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })
                                    </div>

                                    <p class="endDateError" style="display:none; color:red">Please enter valid date.</p>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.userDepartmentId, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownList("userDepartmentId", new SelectList(ViewBag.userDepartment, "userDepartmentId", "userDepartmentName"), "Select", new { @class = "form-control input-col" })


                                    <div>
                                        @Html.ValidationMessageFor(model => model.userDepartmentId, "", new { @class = "text-danger" })

                                    </div>
                                </div>


                                <div class="form-group">

                                    @Html.LabelFor(model => model.serviceTypeId, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownList("serviceTypeId", new SelectList(ViewBag.serviceTypeList, "serviceTypeId", "typeName"), "Select", new { @*@onchange = "vendorId(this.value)",*@@class = "form-control input-col",
                                    @required = "required"
                                })
                                    <div class="error-message">
                                        @Html.ValidationMessageFor(model => model.serviceTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.details, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control input-col" } })
                                    <div>
                                        @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">

                                    <input type="hidden" value="Active" name="serviceStatus" id="projectStatus" />

                                </div>


                            </div>
                        </div>


                        <div class="col-md-4">


                            <div class="form-group">
                                @Html.LabelFor(model => model.firstLevelApprover, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownList("firstLevelApprover", new SelectList(ViewBag.firstLevelApproverList, "employeeId", "userName"), "Select", new { @class = "form-control input-col" })


                                <div>
                                    @Html.ValidationMessageFor(model => model.firstLevelApprover, "", new { @class = "text-danger" })

                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.secondLevelApprover, htmlAttributes: new { @class = "control-label", @style = "width:166px" })

                                @Html.DropDownList("secondLevelApprover", new SelectList(ViewBag.secondLevelApproverList, "employeeId", "userName"), "Select", new { @class = "form-control input-col" })


                                <div>
                                    @Html.ValidationMessageFor(model => model.secondLevelApprover, "", new { @class = "text-danger" })

                                </div>
                            </div>




                            <div class="form-group">
                                @Html.LabelFor(model => model.thirdLevelApprover, htmlAttributes: new { @class = "control-label", @style = "width:166px" })

                                @Html.DropDownList("thirdLevelApprover", new SelectList(ViewBag.thirdLevelApproverList, "employeeId", "userName"), "Select", new { @class = "form-control input-col" })


                                <div>
                                    @Html.ValidationMessageFor(model => model.thirdLevelApprover, "", new { @class = "text-danger" })

                                </div>
                            </div>




                            <div class="form-group">

                                <input type="hidden" name="serviceValue" id="serviceValue" value=00 />

                                <input type="hidden" name="billingUnit" id="billingUnit" value="null" />

                                <input type="hidden" name="serviceCode" id="serviceCode" value="@ViewBag.serviceCode" />

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.poNumber, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.poNumber, new { htmlAttributes = new { @class = "form-control input-col" } })
                                <div>
                                    @Html.ValidationMessageFor(model => model.poNumber, "", new { @class = "text-danger" })
                                </div>
                                <p class="OrderSpaceError" style="display:none; color:red">Spaces are not allowed.</p>
                            </div>





                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-default btn-submit" id="submit" />
                            </div>
                            <input type="hidden" id="count" name="count" />
                        </div>
                        <div class="col-md-2">

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts
    {

    <script src="~/Scripts/jquery.validate.min.js"></script>
    
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">




        window.onload = date();

        function date() {
            debugger;
            var date = new Date(new Date().setDate(new Date().getDate() - 1520));
            var month = '' + (date.getMonth() + 1),
                day = '' + (date.getDate()),
                year = date.getFullYear();


            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            var finalDate = [year, month, day].join('-');
            $("#startDate").attr('min', finalDate);
        }

        $("#startDate").focusout(function () {
            return date();
        });

        $("#startDate").change(function () {

            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;
            $("#endDate").attr('min', startDate);


        });
        $("#submitform").click(function () {
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;
            $("#endDate").attr("min", startDate);

        });





          

     




    </script>
}












