﻿@model IEnumerable<VMS.Models.VMSEntity>
@*<link href="~/Content/PM-Responsive.css" rel="stylesheet" />*@
<link href="~/Content/project-list.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="project-container1">


            <div class="col-lg-11" style="padding-right: 90%;">
                <a class="link1" href="@Url.Action("Index", "Dasboard")">
                    <img class="home-link-project" src="~/Images/123456789.png" />

                </a>
            </div>
        </div>
    </div>
    @*<div class="form-horizontal">*@
    @*<div class="demo">*@

    <div class="table_content panel">


        <div class="panel-heading project_panel_header1 project-header ">

            <div class="table-heading">
                Project List
            </div>

            @{
                string count = ViewBag.display;
            }
            <div style="display:flex;">
                <div class="search-size-font">
                    @using (Html.BeginForm("ServiceView", "Add_Service", FormMethod.Get))
                    {
                        <h5 class="search-font" style="margin-bottom: 0px;">Search By:</h5>
                        @Html.DropDownList("Name", new List<SelectListItem>
                        {
                           new SelectListItem{ Text = "Project Name", Value="projectName"},
                           new SelectListItem{Text= "Project Type" , Value="type"},
                           new SelectListItem{Text= "PO Number" , Value="poNumber"},
                           new SelectListItem{Text= "Vendor Name" , Value="vendorName"},
                         //  new SelectListItem{Text= "Project Code" , Value="projectCode"},
                           new SelectListItem{Text= "Client Name" , Value="clientName"},
                           new SelectListItem{Text= "Order Book Number" , Value="orderBookNo"},
                             new SelectListItem{Text= "PM Name" , Value="userName"},
                              new SelectListItem{Text= "DU Name" , Value="duName"},
                         }, "Select", new { @style = "margin-right: 10px;" })
                        @Html.TextBox("searchString") <input type="submit" value="Search" id="submit">




                        if (count == "1")
                        {
                            <span class="project_links" style="float:right; margin-top:2px">
                                @*<i class="fa fa-arrow-circle-left" style="padding-right: 40px; display:none;" id="icon"></i>*@
                                <a class="clear-font" href="@Url.Action("Index", "Projects")">
                                    Clear Search
                                </a>
                            </span>
                        }









                    }



                </div>

            </div>

        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr class="heading">
                        <th class="col-md-3">
                            @Html.ActionLink("PO Number", "Index", new { sortOrder = ViewBag.projectCodeSortParm })
                        </th>
                        <th class="col-md-2">
                            @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.pnameSortParm })
                        </th>
                        <th class="col-md-1">
                            @Html.ActionLink("Vendor Name", "Index", new { sortOrder = ViewBag.vnameSortParm })
                        </th>
                        <th class="col-md-1">
                            @Html.ActionLink("Start Date", "Index", new { sortOrder = ViewBag.startDateSortParm })
                        </th>
                        <th class="col-md-1">
                            @Html.ActionLink("End Date", "Index", new { sortOrder = ViewBag.endDateSortParm })
                        </th>
                        <th class="col-md-1">
                            @Html.ActionLink("Service Status", "Index", new { sortOrder = ViewBag.dunameSortParm })
                        </th>
                        <th class="col-md-1">
                            @Html.ActionLink("User Department", "Index", new { sortOrder = ViewBag.clientNameSortParm })
                        </th>
                        <th class="col-md-2">
                            @Html.ActionLink("Service Type", "Index", new { sortOrder = ViewBag.projectTypeSortParm })
                        </th>
                        <th>
                           

                        </th>
                    </tr>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td> Records not found </td>
                        </tr>
                    }
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="content">
                        @{

                            string pCode = item.serviceCode;
                            string[] randomString = pCode.Split('_');
                        }
                        <td class="col-md-3">
                           
                                @Html.ActionLink(item.serviceCode, "ProjectList", "ProjectList", new { id = item.serviceCode },null)


                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.categoryName)
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.vendorName)
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.serviceStatus)
                        </td>
                        <td class="col-md-1">
                            @Html.DisplayFor(modelItem => item.userDepartmentName)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.typeName)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


