﻿
@model IEnumerable<VMS.Models.VMSEntity>
<link href="~/Content/project-list.css" rel="stylesheet" />
<link href="~/Content/project-list.css" rel="stylesheet" />

<div class="row">

    <div class="project-container">
        <div class="col-lg-12">
            <div>
                <a class="link1" href="@Url.Action("Index", "Dashboard")">
                    <img class="home-link-project" src="~/Images/123456789.png" />
                  
                </a>
            </div>
            <div class="panel">
                <div class="panel-heading project_panel_header1">



                    <span class="project-heading">
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.userDepartmentName)
                        }

                    </span>
                    <span class="heading-type">
                        @foreach (var item in Model)
                        {
                            @Html.DisplayFor(modelItem => item.typeName)
                        }

                    </span>
                    <div class="pull-right btn-links">
                        @foreach (var item in Model)
                        {

                            if (item.serviceCode != null)
                            {

                                <span class="project_links back-size-projectlist">

                                    <a class="projectback" style="display:none" href="@Url.Action("Index", "VMProject" ,new { searchString = ViewBag.searchString, Name = ViewBag.Name})">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        Back
                                    </a>

                                </span>

                                <span class="project_links">

                                    <a class="vendorback" style="display:none" href="@Url.Action("Details", "VMViewVendor",new {id = ViewBag.vendorback } )">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        Back
                                    </a>

                                </span>
                                <span class="project_links back-size-projectlist">

                                    <a class="InvoiceListBack" style="display:none" href="@Url.Action("InvoiceList", "VMAddInvoice",new { searchString = ViewBag.searchString, Name = ViewBag.Name})">
                                        <i class="fa fa-arrow-circle-left"></i>
                                        Back
                                    </a>

                                </span>
                            }
                        }

                    </div>



                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.startDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.endDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vendorName)
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Service Value
                                </th>
                                <th>
                                    Service Type
                                </th>
                                <th>
                                    Projection Value
                                </th>
                                <th>
                                    Total Invoiced Amount(Rs.)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.poNumber)
                                </th>
                                <th>
                                    Contract Status
                                </th>

                            </tr>
                        </thead>
                        @*@{
                    string projectValue = ViewBag.ProjectValue;
                    float finalProjectValue = float.Parse(projectValue);
                    string vendorName = ViewBag.vendorName;
                    float projectionValue = ViewBag.projectionValue;
                    string result = projectionValue.ToString("0.00");
                    float InvoiceAmount = ViewBag.invoiceAmount;
                    string invoiceAmount = InvoiceAmount.ToString();
                    string invoiceamount = invoiceAmount;
                    string projectcode = ViewBag.projectCode;
                    string pmname = ViewBag.PMName;
                    string dmname = ViewBag.DMName;
                    string orderBookNo = ViewBag.orderbookno;
                    DateTime currentdate = DateTime.Now;
                    DateTime enddate = ViewBag.endDate;
                }*@


                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.startDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.endDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.vendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.categoryName)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.serviceValue)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.typeName)
                                </td>
                                <td></td>


                                <td> </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.poNumber)
                                </td>

                                <td>

                                    <span class="active-cicle">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                    @Html.DisplayName("ON")

                                </td>

                            </tr>
                        }

                    </table>

                </div>
                @* end of first panel *@

                <div class="panel-body">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="col-lg-2">
                                    First Level Approver
                                </th>
                                <th class="col-lg-2">
                                    Second Level Approver

                                </th>
                                <th class="col-lg-2">
                                    Third Level Approver

                                </th>

                                <th class="col-lg-8"></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.approver1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.approver2)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.approver3)
                                </td>
                            </tr>
                        }
                    </table>
                </div>



                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead class="thead-dark project_panel_header2">

                                <tr>
                                    <th>
                                        PO Name
                                    </th>
                                    <th>
                                       
                                    </th>
                                    <th>
                                        PO Value
                                    </th>
                                    <th>
                                        Projection Value
                                    </th>
                                    <th>
                                        PO Status
                                    </th>
                                    <th>
                                        PO's Action
                                    </th>
                                    <th>
                                        Counter Signed PO
                                    </th>

                                    <th></th>

                                    <th>
                                        @foreach (var item in Model)
                                        {

                                            <div class="pull-right">

                                                @if (item.serviceCode != null)
                                                {
                                                    <span class="project_links">
                                                        <i class="fa fa-plus"></i>
                                                        @{
                                                            var dbobj = new VMS.Entities.ServiceVMSEntities();
                                                            string projectcod = item.serviceCode;
                                                            var linkquery = (from proposal in dbobj.POReports
                                                                             where proposal.serviceCode == item.serviceCode
                                                                             select new { proposal.poReportName });
                                                            string proname = null;
                                                            foreach (var t in linkquery)
                                                            {
                                                                proname = t.poReportName;
                                                            }
                                                        }
                                                       
                                                            @Html.ActionLink("Upload PO", "Create", "Add_POReport", new { service_code = item.serviceCode, @vendor_id = item.vendorId}, null)
                                                       


                                                    </span>
                                                }
                                            </div>
                                        }
                                    </th>
                                </tr>
                                </thead>
                             
                                <div class="panel-body">

                                    @foreach (var item in Model)
                                    {




                                        if (item.serviceCode != null)
                                        {
                                            <tr>

                                                <a href="#">

                                                    @{

                                                        int count = 0;
                                                        string counterstatus = "Signed by vendor";
                                                        string proposalValue = null;
                                                        string proposalName = null;
                                                        string proposalStatus = null;
                                                        string proposalReason = null;
                                                        var context1 = new VMS.Entities.ServiceVMSEntities();


                                                        var q = (from t in context1.Services
                                                                 join sc in context1.POReports on t.serviceCode equals sc.serviceCode
                                                                 where t.serviceCode == item.serviceCode
                                                                 select new { sc.poReportReason, sc.poReportName, sc.poReportId, sc.poReportValue, sc.poReportStatus });
                                                        string[] hello = new string[q.Count()];
                                                        int i = 0;
                                                        var employeeModel = new List<VMS.Models.VMSEntity>();

                                                        foreach (var t in q)
                                                        {

                                                            employeeModel.Add(new VMS.Models.VMSEntity()
                                                            {

                                                                poReportName = t.poReportName,
                                                                poReportId = t.poReportId,
                                                                poReportValue = t.poReportValue


                                                            });
                                                            proposalReason = t.poReportReason;
                                                            proposalValue = t.poReportValue;
                                                            proposalName = t.poReportName;
                                                            proposalStatus = t.poReportStatus;
                                                            hello[i] = t.poReportId;
                                                            i++;
                                                            float result1 = 0;
                                                            string StrFilePathName = null;
                                                            string pid = t.poReportId;
                                                            string abc = null;
                                                            string[] filesNames = Directory.GetFiles(@"C:\VMSDocs\SOWs\" + t.poReportName +"_" + t.poReportId  + "//");

                                                            List<string> items = new List<string>();
                                                            foreach (string file in filesNames)
                                                            {
                                                                string fileName = Path.GetFileName(file);
                                                                string fileExtn = Path.GetExtension(file);
                                                                StrFilePathName = fileName;

                                                                if (fileName == StrFilePathName)
                                                                {
                                                                    abc = StrFilePathName;
                                                                    items.Add(fileName);
                                                                }

                                                            }


                                                            //get files for counter signed sow
                                                            string StrFilePathName1 = null;

                                                            string abcd = null;
                                                            string counterSigned = null;
                                                            string finalSprintValue = null;
                                                            var context = new VMS.Entities.ServiceVMSEntities();

                                                            var countersigned = (from r in context.CounterSignedPOReports

                                                                                 where r.poReportId == t.poReportId
                                                                                 select new { r.counterSignedId });


                                                            foreach (var n in countersigned)
                                                            {

                                                                counterSigned = n.counterSignedId.ToString();

                                                            }

                                                            if (counterSigned != null)
                                                            {




                                                                string[] filesNames1 = Directory.GetFiles(@"C:\VMSDocs\CounterSignedSOW's\" + pid + " / ");

                                                                List<string> items1 = new List<string>();
                                                                foreach (string file in filesNames1)
                                                                {
                                                                    string fileName = Path.GetFileName(file);
                                                                    string fileExtn = Path.GetExtension(file);
                                                                    StrFilePathName1 = fileName;

                                                                    if (fileName == StrFilePathName1)
                                                                    {
                                                                        abcd = StrFilePathName1;
                                                                        items1.Add(fileName);
                                                                    }

                                                                }
                                                            }
                                                            string sprintValue = null;
                                                            var p = (from y in context1.Sprints
                                                                     where y.poReportId == t.poReportId
                                                                     select new { y.sprintValue });
                                                            foreach (var o in p)
                                                            {

                                                                employeeModel.Add(new VMS.Models.VMSEntity()
                                                                {

                                                                    sprintValue = o.sprintValue

                                                                });
                                                                sprintValue = o.sprintValue;

                                                                result1 = result1 + float.Parse(sprintValue);
                                                                finalSprintValue = result1.ToString("0.00");
                                                            }



                                                            if (t.poReportName != null)
                                                            {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => t.poReportName, new { title = t.poReportName })

                                                            </td>

                                                            <td>
                                                                <span class="project_links">
                                                                  <a href="@Url.Action("Download", "Add_POReport", new { @items = abc, @poId = t.poReportId, poname = t.poReportName }, null)" target="_blank">
                                                   <i class="fa fa-download">

                                                                 </i>
                                                                  </a>

                                                                         </span>
                                                                <span class="project_links">
                                                                    <a href="@Url.Action("Index", "Add_POReport", new { @items = abc, @poId = t.poReportId, poname = t.poReportName  }, null)" target="_blank">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => proposalValue)
                                                            </td>
                                                            @if (sprintValue != null)
                                                            {
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => finalSprintValue)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }


                                                            @if (counterSigned != null)
                                                            {
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => counterstatus)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                if (proposalStatus == "Rejected")
                                                                {
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => proposalStatus)
                                                                        <span>
                                                                            <a onclick="return proposalReason('@proposalReason');">
                                                                                <i class="fa fa-file-text rejectionReasonProposal" id="rejectionReasonProposal" title="Rejection Reason"></i>

                                                                            </a>
                                                                        </span>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => proposalStatus)
                                                                    </td>
                                                                }
                                                            }
                                                            @if (proposalStatus == "Rejected")
                                                            {

                                                                <td>
                                                                    <span class="project_links">
                                                                        <i class="fa fa-plus"></i>

                                                                        @Html.ActionLink("Update Document", "UpdateSow", "PMAddEditSow", new { @proposalId = t.poReportId, @projectCode = item.serviceCode, @vendorId = item.vendorId }, null)
                                                                    </span>
                                                                </td>

                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }
                                                            <td>
                                                                @if (counterSigned != null)
                                                                {
                                                                    <span class="project_links">
                                                                        <a href="@Url.Action("Download", "CounterSigned", new { @items = abcd, @proposalId = t.poReportId })">
                                                                            <i class="fa fa-download">

                                                                            </i>
                                                                        </a>

                                                                    </span>
                                                                    <span class="project_links">
                                                                        <a href="@Url.Action("GetDocument", "CounterSigned", new { @items = abcd, @proposalId = t.poReportId })" target="_blank">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>

                                                                    </span>
                                                                }
                                                            </td>

                                                        </tr>
                                                            }
                                                            else
                                                            {
                                                        <tr>
                                                            <td>

                                                                @Html.DisplayFor(modelItem => t.poReportName, new { title = t.poReportName })
                                                            </td>


                                                            <td>
                                                                <span class="project_links">
                                                                    <a href="@Url.Action("Download", "Dummy", new { @items = abc, @proposalId = t.poReportId }, null)">
                                                                        <i class="fa fa-download">

                                                                        </i>
                                                                    </a>

                                                                </span>
                                                                <span class="project_links">
                                                                    <a href="@Url.Action("Index", "SowView", new { @items = abc, @proposalId = t.poReportId }, null)" target="_blank">
                                                                        <i class="fa fa-eye"></i>
                                                                    </a>

                                                                </span>
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => proposalValue)
                                                            </td>
                                                            @if (sprintValue != null)
                                                            {
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => finalSprintValue)
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>
                                                            }

                                                            <br />
                                                            <td>
                                                                @if (counterSigned != null)
                                                                {
                                                                    <span class="project_links">
                                                                        <a href="@Url.Action("Download", "CounterSigned", new { @items = abcd, @proposalId = t.poReportId })">
                                                                            <i class="fa fa-download">

                                                                            </i>
                                                                        </a>

                                                                    </span>
                                                                    <span class="project_links">
                                                                        <a href="@Url.Action("GetDocument", "CounterSigned", new { @items = abcd, @proposalId = t.poReportId })" target="_blank">
                                                                            <i class="fa fa-eye"></i>
                                                                        </a>

                                                                    </span>
                                                                }
                                                            </td>
                                                        </tr>
                                                                    count++;
                                                                }

                                                            }
                                                        }
                                                    



                                                   
                                                    </tr>

                                                }

                                            }
                                    </div>
                               
       </table>                         
                                    
                                    
                                
                           
</div>
</div></div>
           
</div>