﻿@model VMS.Models.VMSEntity
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<link href="~/Content/External.css" rel="stylesheet" />

<div class="container mainlogin">
    <div class="row">
        <div class="image1 col-lg-5 col-md-5 col-xs-12 col-sm-12 minheight-div padd0">

            <img style="height:100%; width:100%;" class="img-responsive" src="~/Images/LogIn_Img.jpg" />


        </div>

        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 minheight-div padd0" style="background-color: #fff;">
            <br />
            <div style="padding:2% 5% 0 5%;">
                <h4 style="padding-left: 0px;">Sign in to</h4>
                <h1> VENDOR MANAGEMENT SYSTEM </h1>

                @if (TempData["Msg"] != null)
                {
                    <script type="text/javascript">
                        alert(@Html.Raw(Json.Encode(TempData["Msg"])));
                    </script>
                }




                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.userEmail, new { htmlAttributes = new { @class = "form-control userrounded login-border", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
                            </div>
                            <p class="empty" style="display:none; color:red">Please enter email Id.</p>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.userPassword, new { htmlAttributes = new { @class = "form-control userrounded login-border", placeholder = "Password", type = "password" } })
                                @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div>
                            <a href="#" class="link1 forgotpassword" id="forgotpassword" onclick="divshow();">
                                <h4 style="padding-left: 0px;">Forgot Password</h4>
                            </a>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-0 col-md-10">
                                <input type="submit" value="Login" class="btnlogin btn btn-default login-border" />
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
@section Scripts
    {

    <script type="text/javascript">

var count;

        function divshow() {

    var userEmail = $('#userEmail').val();
    if (userEmail == "") {
        $('.empty').show();
    }
    else
    {

        $.ajax({

            type: 'GET',
            url: '@Url.Action("ForgotPassword")',
            data: { "userEmail": userEmail},
            dataType: 'text',
            async: 'false',
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                count = data.count;
                if (count > 0) {
                    var confirmValue =  confirm("Password sent to your email address");
                    if(confirmValue == true)
                    {


                        $('.forgotpassword').hide();


                    }
                    else {
                        $('.forgotpassword').show();
                    }
                }
                else {

                }
            }
        })
    }
    };

    </script>
}